@model RegistrationUserMVC.Models.Doctorlogin
@{
    ViewBag.Title = "Index";
}


<html>
<head>
    <title>Doctor Login Page</title>
    <!--
    <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/signupstyle.css">
        <link rel="stylesheet" href="css/media.css">
    -->
    <link href="~/Content/mybootstrap.css" rel="stylesheet" />
    <link href="~/Content/signupstyle.css" rel="stylesheet" />
</head>
<body style="background-color:#bdc3c7">

    <div class="main-wrapper">

        <h2 class="text-center m-4">Login </h2>

        @using (Html.BeginForm("Autherized", "Doctorlogin", FormMethod.Post))
        {

            <form class="myform">
                <label><b>Email:</b></label><br>

                @Html.EditorFor(model =>model.Email, new { htmlAttributes = new { @class = "form-control mb-2 mt-2 pb-2 pt-2" } })
                <br />
                <label><b>Password:</b></label><br>

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mb-2 mt-2 pb-2 pt-2" } })
                <br />
                <br /> <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label><br />

                <input type="submit" name="Submit" id="login_btn" class="btn-secondary mb-2" value="SIGNIN" /><br>
                @*<a href="register.ph"><input type_btn" class="btn-secondary" value="Register" /></a>*@
                <a href="/DoctorRegister/Index"><input type="button" class="btn-secondary mt-2" value="Register" id="register_btn" /></a>
            </form>

        }
    </div>
</body>
</html>

