@font-face {
  font-family: 'Raleway', sans-serif;
/*    src: url(../fonts/Raleway-Black.ttf);*/
    
}

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
body{
    background-image: url(../images/remedies1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*
.remedies {
    text-transform: uppercase;
    margin:30px 0;

}
*/

/*
.remedies_background {
    background-color:#ffffff;
    border-radius: 15px;

}
*/

/*
.remedies_description {
   background-image: linear-gradient(to right,rgba(192,192,192,1), rgba(50,198,154,0.5), rgba(192,192,192,2));
    border-radius: 15px;
    margin: 40px 10px 0 10px;
    padding: 20px;

}

.remedies_name {
    padding: 10px;
    text-align: center;
}

.remedies_mainfeature {
    padding: 10px;   

}
.remedies_mainfeature p{
    
    color: #555555;

}
.remedies_Text {
    padding: 10px;
    
}
.remedies_Text h6{
    
    color: #555555;
}

.remedies_price {
    padding: 10px;

}

.remedies_price p{

    color: #555555;

}
.remedies_image img{
    width: 100%;
}
